<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCCjzJZ7jSRy5hA6qOOlAUIJjH1a41awpg</string>
	<key>GCM_SENDER_ID</key>
	<string>797696838325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.github.crisacm.SimpleNotes</string>
	<key>PROJECT_ID</key>
	<string>just-a-notes-app</string>
	<key>STORAGE_BUCKET</key>
	<string>just-a-notes-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797696838325:ios:ea4d1f3a106a4d82b5ccfc</string>
</dict>
</plist>